.footer{
  background-color: rgb(8, 103, 162);
  text-align: center;
padding: 20px;
}
/* Định dạng khối chứa nội dung */
.footer-a {
  display: flex; /* Sử dụng Flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center;
}

/* Định dạng hình ảnh */
.block-image {
  max-width: 90px; /* Độ rộng tối đa của ảnh */
  height: auto;
  margin-right: 10px; /* Khoảng cách giữa ảnh và chữ */
}

/* Định dạng nội dung văn bản */
.block-content {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}
.title{
color: white;
}
