/* Thiết lập font chữ và khoảng cách mặc định */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Định dạng phần header */
.header-classic {
  background-color: rgb(8, 103, 162);
  height: 150px;
  position: fixed;
  z-index: 1000;
  top: 0px;
  width: 100%;
}

/* Định dạng phần top menu */
.top-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-menu-item {
  display: inline-block;
  margin-right: 15px;
}

/* Định dạng logo */
.logo img {
  width: 200px;
  height: auto;
  margin-left: 100px;
  margin-top: 20px;
}

.search-input {
  border-radius: 6px;
  width: 320PX;
  font-size: 14px;
  height: 40px;
  border: 0px solid #ccc;
}

/* Định dạng biểu tượng tìm kiếm */
.search-icon {
  color: #333;
  font-size: 18px;
  margin-left: 5px;
  cursor: pointer;
}


/* Định dạng giỏ hàng */
.cart-heading {
  color: white;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-top: 0px;
}

.count-badge {
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  position: absolute;
  margin-top: 3px;
  margin-right: 10px;
}

.fa-shopping-cart {
  font-size: 35px;
  margin-right: 5px;
}

.count-badge {
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
}

/* Định dạng cho phần biểu tượng, tài khoản và giỏ hàng */
.icons-wrapper {
  display: flex;
  align-items: center;
}

.desktop-logo-wrapper {
  flex: 1;
  margin-left: 50px;
}


/* Định dạng ô nhập liệu tìm kiếm */
.search-input-wrapper {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 10px;
  margin-left: 20px;
  width: 380px;
  margin-right: 200px;
  margin-top: 22px;

}

.account-cart-wrapper {
  display: flex;
  align-items: center;
  margin-right: 200px;
  margin-top: 25px;
}

/* Định dạng main menu */
.main-menu {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: -12px;
  
}

.main-menu-item {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.main-menu-item a {
  color: #333;
  text-decoration: none;
}

.open-menu {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.menu-label {
  background-color: #333;
  color: #fff;
  padding: 3px 8px;
  font-size: 10px;
  border-radius: 3px;
  margin-left: 5px;
}

/* Định dạng dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown:hover .dropdown-menu {
  display: block;
  top: 100%;
  left: 0;
}

/* Định dạng dropdown menu con */
.j-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

.j-dropdown li {
  margin: 0;
  padding: 8px 15px;
}

/* Định dạng collapsed icon */
.open-menu.collapsed::before {
  content: '+';
  font-weight: bold;
}

/* Căn giữa theo chiều ngang và dọc */
.dropdown-toggles {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* Loại bỏ gạch chân mặc định */
  color: white;
  margin-right: 30px;
  margin-top: 5px;
  /* Màu chữ */
}

/* Kích thước biểu tượng */
.account-icon {
  font-size: 30px;
  margin-right: 10px;
}

/* Định dạng phần chữ */
.account-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
  /* Khoảng cách giữa biểu tượng và chữ */
}

.account-label {
  font-size: 14px;
  /* Kích thước chữ Tài khoản */
  font-weight: bold;
}

.login-register {
  font-size: 10px;
  /* Kích thước chữ Đăng nhập / Đăng ký */
}

/* Định dạng chung cho các biểu tượng */
.icons-wrapper {
  display: flex;
  align-items: center;
}

.search-icon {
  padding: 5px;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}




/* Định dạng main menu */
.desktop-main-menu-wrapper {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.main-menu-item {
  margin-right: 15px;
  position: relative;
}

.links-text {
  color: white;
  text-decoration: none;
  position: relative;
}

/* Căn lề giữa các menu item */
.desktop-main-menu-wrapper .main-menu-item {
  margin-right: 20px;
}

.menu-label {
  background-color: rgb(37, 176, 55);
  /* Màu nền xanh lá cây */
  color: white;
  /* Màu chữ trắng */
  padding: 3px 6px;
  /* Khoảng cách viền */
  border-radius: 3px;
  /* Bo góc */
  position: absolute;
  top: -15px;
  right: -10px;
}

.menu-labels {
  background-color: rgb(192, 24, 21);
  /* Màu nền xanh lá cây */
  color: white;
  /* Màu chữ trắng */
  padding: 3px 6px;
  /* Khoảng cách viền */
  border-radius: 3px;
  /* Bo góc */
  position: absolute;
  top: -15px;
  right: -10px;
  height: 12px;
  font-size: 10.6px;
}

.links-texts {
  color: black;

}

.dropdown-toggle::after {
  content: "\25BE";
  /* Mã Unicode cho biểu tượng mũi tên xuống */
  margin-left: 5px;
  /* Khoảng cách giữa chữ và biểu tượng */
}

/* Ẩn menu con ban đầu */
.dropdown-menu {
  display: none;
  padding: 0px;
}

/* Hiển thị menu con khi hover vào mục cha */
.main-menu-item:hover .dropdown-menu {
  display: block;
}

.menu-items {
  white-space: nowrap;
}

.j-menus {
  list-style: none;
  padding: 0px;
}

.j-menu {
  display: flex;
  justify-content: center;
  margin-right: 2rem;
}

.menu-item-lienhe {
  margin-right: 15px;
  justify-items: center;
  flex-direction: row
}

.icon-email {
  /* Định dạng biểu tượng email (sử dụng một biểu tượng email tùy chọn) */
  font-size: 18px;
  margin-right: 5px;
  color: white;
}

.sale {
  color: white;
  text-decoration: none;
  font-size: 15px;
  border: 2px solid #ce1e27;
  background-color: #ce1e27;
  border-bottom-left-radius: 15px;
  padding: 3px;

}


.grid-row {
  display: flex;
  /* Sử dụng Flexbox để chia thành một hàng ngang */
  margin-top: 180px;
  margin-left: 140px;
}

.grid-cols {
  display: flex;
  flex-wrap: nowrap; /* Đảm bảo các phần tử con không xuống dòng */
  overflow-x: auto; /* Hiển thị thanh cuộn nếu nội dung vượt ra ngoài */
  scroll-behavior: smooth; /* Làm cho việc cuộn mượt mà hơn */
  -webkit-overflow-scrolling: touch; /* Cải thiện trải nghiệm cuộn trên thiết bị cảm ứng */
  scrollbar-width: none; /* Ẩn thanh cuộn trình duyệt (tuỳ chọn) */
  -ms-overflow-style: none; /* Ẩn thanh cuộn trình duyệt (tuỳ chọn) */
  position: relative;
}
.grid-cols::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trình duyệt (tuỳ chọn) */
}

.ms-slide-bgcont1 {
  margin-right: 30px;
}

.ms-slide-bgcont3 {
  margin-left: 30px;
}


/* Áp dụng kiểu cho các thông tin block */
/* Thiết lập kiểu cho các khối thông tin */
.info-blocks {
  display: flex;
  justify-content: space-between;
  padding: 45px;
    margin-left: 140px;
    margin-right: 140px;
}

.info-block {
  display: flex;
  align-items: center;
  margin-right: 18px; /* Khoảng cách giữa các khối thông tin */
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
}

.info-block-text {
  margin-left: 10px; /* Khoảng cách giữa biểu tượng và văn bản */
}

/* Thiết lập kiểu cho biểu tượng */
.icon {
  font-size: 24px; /* Kích thước biểu tượng */
  color: black; /* Màu sắc biểu tượng, thay đổi màu sắc tùy ý */
}
/* định dạng sản phẩm mới */

.title-wrapper{
  display: flex;  
  flex-direction: column;
  align-items: center;
}

/* Định dạng phần chứa sản phẩm */
.product-girl {
  display: grid;
  grid-template-columns: repeat(5, 3.5fr);
  grid-gap: 10px;
  margin: 10px;
  padding: 170px;
  background-color: #fff;
  margin-top: -130px;
  height: 550px
}

/* Định dạng hình ảnh sản phẩm */
.product-img {
  position: relative;
  display: block;
  overflow: hidden;
  justify-content: center;
}

.product-img img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.product-img img:hover {
  transform: scale(1.1); /* Phóng to hình ảnh khi di chuột vào */
}

/* Định dạng các nhãn sản phẩm */
.product-labels {
  position: absolute;
  top: 0;
  left: 0;
}

.product-label {
  display: block;
  padding: 5px 10px;
  background-color: #f00; /* Màu nền của nhãn sản phẩm */
  color: #fff; /* Màu chữ của nhãn sản phẩm */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 3px;
}

/* Định dạng hẹn giờ đếm ngược */
.countdown {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.countdown div {
  display: inline-block;
  margin: 0 5px;
  font-weight: bold;
  color: #333; /* Màu chữ của đếm ngược */
}

.product-img img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

/* Khi di chuột vào sản phẩm, phóng to hình ảnh */
.product-thumb:hover img {
  transform: scale(1.1);
}

/* Ẩn hình ảnh thứ hai ban đầu */
.product-img .img-second {
  display: none;
}

/* Khi di chuột vào sản phẩm, ẩn hình ảnh thứ nhất và hiển thị hình ảnh thứ hai */
.product-thumb:hover .img-first {
  display: none;
}

.product-thumb:hover .img-second {
  display: block;
}

/* Định dạng các nhãn sản phẩm */
.product-labels {
  position: absolute;
  top: 0;
  left: 0;
}

.product-label {
  display: block;
  padding: 5px 10px;
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 3px;
}

/* Định dạng hẹn giờ đếm ngược */
.countdown {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.countdown div {
  display: inline-block;
  margin: 0 5px;
  font-weight: bold;
  color: #333;
}

/* Định dạng tên sản phẩm */
.name {
  font-size: 13px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.name a {
  color: rgb(51, 44, 44);
  font-size: 14px;
  text-decoration: none;
}
/* Định dạng giá sản phẩm */
.price {
  margin-top: 10px;
  text-align: center;
}

.price .price-new {
  color: #f00;
  font-size: 13px;
  font-weight: bold;

}

.price .price-old {
  color: #888;
  text-decoration: line-through;
  font-size: 13px;
}

/* Định dạng xếp hạng sản phẩm (rating) */
.rating {
  margin-top: 10px;
}

.rating-stars {
  color: #f00;
  text-align: center;
}

.stats a {
  color: black;
  font-size: 12px;
}
.link-puma:hover{
color:blue;
}

.rating-stars .fa-stack {
  font-size: 16px;
  margin-right: 2px;
}

/* Định dạng nút thêm vào giỏ hàng */
.button-group {
  margin-top: 10px;
}

.cart-group {
  display: flex;
  align-items: center;
}

.cart-group .stepper {
  width: 60px;
  text-align: center;
}

.cart-group .stepper input[type="text"] {
  width: 40px;
  text-align: center;
}

.cart-group .stepper span {
  display: block;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #f00;
  line-height: 1;
}

.cart-group .stepper span:hover {
  color: #333;
}

.cart-group .btn-cart {
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-group .btn-cart:hover {
  background-color: #333;
}

/* Định dạng các nút mua hàng và gọi điện */
.extra-group {
  margin-top: 10px;
}

.extra-group a.btn-extra {
  display: inline-block;
  margin-right: 10px;
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  text-decoration: none;
}

.extra-group .btn-extra:hover {
  background-color: #333;
}

/* Định dạng tooltip cho nút Xem nhanh */
.btn-quickview {
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.btn-quickview:hover {
  background-color: #333;
}
.stats{
  text-align:center;
  justify-content: center;
}
.rating-stars .fa-stack {
  font-size: 8px;
  margin-right: 2px;
}
.product-thumb {
  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(221, 221, 221, 1);
  padding-bottom: 10px;
}
.title-wrapper>.title-divider{
    width: 100px;
    height: 4px;
    background: rgba(226, 41, 61, 1);
    margin-bottom: 9px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}